{% extends 'network/base.html' %}

{% block mainmenu %}
<h1>{{ title }}</h1>
<div class="registerForm" style="margin-top: 50px; margin-left: 50px; font-family: Tahoma; font-size: 18px">
    <form method="post" style="margin: 10px">
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit">Register</button>
    </form>
</div>
<footer>
    <div class="pagi" style="text-align: center; margin: auto">
        <nav class="navbar navbar-light bg-light">
            {% for p in page_obj.paginator.page_range %}
                <div class="navbar-brand navbar-right" >
                    <a href="?page={{ p }}">{{ p }}</a>
                </div>
            {% endfor %}
        </nav>
    </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted" style="margin: auto; text-align: center">Facebook © 2023 Powered by WordPress VIP</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}